@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <blockquote class="blockquote text-center">
        <p class="mb-0">Welcome</p>
    </blockquote>
    <button type="button" class="btn btn-primary btn-lg btn-block" id="draw-button" style="margin-top: 20px;">Draw your quote of the day</button>
</div>
